<div class="row">
  <div class="offset-1 col-10">
    <h1>Nom: {{ employe?.nom}}</h1>
    <h2>Prénom: {{ employe?.prenom}}</h2>
    <h3>Téléphone: {{ employe?.telephone}}</h3>
    <p>Email: {{ employe?.email}}</p>
    <p>entreprise : {{ employe?.entreprise_id.nom}} | {{ employe?.entreprise_id.siteWeb}} </p>
  </div>
  <div class="offset-1 col-10">
      <button class="btn btn-primary" (click)="onUpdate(employe?.id)">Modifier</button>
      <button class="btn btn-danger" (click)="onDelete(employe?.id)">Supprimer</button><br>
      <button class="btn btn-default" (click)="onBack()">Retour</button>
  </div>
</div>
