<button class="btn btn-primary" (click)="addEmploye()">Ajouter un employe</button>
<div class="entreprise_admin offset-1 col-sm-10 col-10 col-md-10">
  <h4 class="text-center titre_entreprise">Les employes</h4>
 <div class="row">
    <div [className]=" notFull ? 'table-responsive-md table-responsive-sm col-md-10  col-sm-12 col-lg-6' :'table-responsive-md table-responsive-sm col-md-10  col-sm-9 col-lg-10'">
      <table class="table table-hover thead-dark table-stripped" *ngIf="employes">
        <thead  class="thead-dark">
          <tr class="head">
            <th>Nom</th>
            <th>Prénom</th>
            <th>Téléphone</th>
            <th>Entreprise</th>
          </tr>
        </thead>
        <tbody *ngFor="let employe of employes| paginate: { itemsPerPage:iPP , currentPage: p }; let i = index">
          <tr (click)="onViewEmploye(employe.id)">
            <td class="name-entreprise">{{ employe.nom}}</td>
            <td class="name-entreprise">{{ employe.prenom }}</td>
            <td class="name-entreprise">{{ employe.email  }}</td>
            <td class="name-entreprise">{{ employe.entreprise_id.nom}}</td>
          </tr>
        </tbody>
      </table>
    </div>
      <div class="col-12 table_foot row input-sm d-flex p-2"
          [className]="notFull ? 'col-md-8 mr-md-5' : 'row'">
          <select
              [className]="notFull ? 'd-none' : 'd-block custom-select'"
              class="custom-select" style="width: auto" [(ngModel)]="iPP">
              <option [ngValue]="5">5 par pages</option>
              <option [ngValue]="10">10 par pages</option>
              <option [ngValue]="15">15 par pages</option>
              <option [ngValue]="20">20 par pages</option>
              <option [ngValue]="50">50 par pages</option>
          </select>
      <pagination-controls (pageChange)="p = $event"
                    autoHide="false"
                    responsive="false"
                    previousLabel="&#8592;"
                    nextLabel="&#8594;"
                    >
      </pagination-controls> 
    </div>
</div>

</div>

